<%- include('./partials/header') %>


<div class="container">
    <div class="card d-flex align-items-center justify-content-center text-center w-25 h-25 position-absolute top-50 start-50 translate-middle ">
        <div class="card-body">
          <p class="card-text">Log In To View Job Applications</p>
          <a href="/auth/google" class="btn btn-primary">Log In</a>
        </div>
      </div>

</div>
<%- include('./partials/footer') %>
